extends event_template
block content
  h1 Events
    table.table
        thead
            tr
                th id
                th title
                th content
                th date
                th edit
        tbody
            each e in events
              tr
                td=e._id
                td=e.title
                td!=e.content
                td=e.date
                td: a(href='/event/#{e._id}/edit') edit